.wrapper {
	display: grid;
	grid-template-columns: auto 230px minmax(320px, 1200px) auto;

	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
	gap: 40px 30px;
	grid-template-areas:
		". header header ."
		". sidebar body ."
		"footer footer footer footer";
}

.header {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
}

.body {
	grid-area: body;

	outline: none;
}

.footer {
	grid-area: footer;
}

.skipLink {
	position: fixed;
	top: 0;
	left: 100px;

	display: block;
	overflow: hidden;

	height: 0;

	color: var(--white);
	background-color: var(--primary);
}

.displayed {
	height: auto;
}

@media (max-width: 765px) {
	.wrapper {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-areas:
			"header"
			"body"
			"footer";
		gap: 10px;
	}
	
	.sidebar {
		display: none;
	}
	
	.body {
		padding: 15px;
	}
}
