.button {
	width: 40px;
	height: 40px;

	cursor: pointer;

	border: 0;
	border-radius: 10px;
	background-color: var(--primary);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}

.primary {
	background-color: var(--primary);
}

.primary svg > * {
	fill: var(--white);
}

.primary:hover {
	background-color: var(--primary-hover);
}

.white {
	background-color: var(--white);
}

.white svg > * {
	fill: var(--primary);
}

.white:hover {
	background-color: var(--primary);
}

.white:hover svg > * {
	fill: var(--white);
}
