.title {
	display: grid;
	grid-template-columns: auto 1fr auto;

	align-items: baseline;
	justify-items: left;
	gap: 20px;

	margin-bottom: 30px;
}

.hhTitle {
	display: grid;
	grid-template-columns: auto 1fr;

	align-items: baseline;
	justify-items: left;
	gap: 20px;
}

.seo h1 {
	margin: 0;
	
	font-size: 26px;
	font-weight: 500;
	line-height: 35px;
}

.seo h2 {
	margin-top: 50px;
	margin-bottom: 25px;
	
	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
}

.seo h3 {
	margin: 0;
	
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

@media (max-width: 900px) {
	.title {
		grid-template-columns: auto 1fr;
	}
}
