.up {
	position: fixed;
	right: 30px;
	bottom: 30px;

	width: 40px;
	height: 40px;

	cursor: pointer;

	border: 0;
	border-radius: 10px;
	background-color: var(--primary);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}

.up:hover {
	background-color: var(--primary-hover);
}
