.textarea {
	width: 100%;
	padding: 7px 15px;

	color: var(--black);
	border: 0;
	border-radius: 5px;
	outline-color: var(--primary);
	background-color: var(--white);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

	font-family: var(--font-family);
	font-size: 16px;
	line-height: 22px;
}

.textarea::placeholder {
	color: var(--gray);
}

.error {
	border: 1px solid var(--red);
}

.wrapper {
	position: relative;
}

.message {
	position: absolute;
	bottom: -15px;
	left: 0;

	color: var(--red);
}
