.filled {
	fill: var(--primary);
}

.star {
	width: 20px;
	height: 20px;
}

.editable {
	cursor: pointer;
}

.iconWrapper {
	display: inline-block;
	text-align: center;
	padding: 0 2px;
}

.wrapper {
	position: relative;
}

.message {
	position: absolute;
	bottom: -20px;
	left: 0;

	color: var(--red);
}

.error svg {
	stroke: var(--red);
}
