.hh {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 30px;
}

.count {
	padding: 20px;

	text-align: center;
}

.salary {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	padding: 20px;

	text-align: center;
	gap: 20px 0;
}

@media (min-width: 641px) {
	.salary > div:not(:last-child) {
		border-right: 1px solid var(--green-light);
	}
}

.title {
	margin-bottom: 10px;

	font-size: 20px;
	font-weight: 300;
	line-height: 27px;
}

.countValue {
	color: var(--primary);

	font-size: 36px;
	font-weight: bold;
	line-height: 49px;
}

.salaryValue {
	margin-bottom: 10px;

	font-size: 26px;
	font-weight: bold;
	line-height: 35px;
}

.rate {
	display: grid;
	grid-template-columns: repeat(3, 20px);
	gap: 10px;

	justify-content: center;
}

.filled circle {
	fill: var(--red);
}

@media (max-width: 1200px) {
	.hh {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 640px) {
	.salary {
		grid-template-columns: 1fr;
	}
	
	.salary > div:not(:last-child) {
		padding-bottom: 20px;

		border-bottom: 1px solid var(--green-light);
	}
}
