.header {
	display: none;
}

.menuWrapper {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;

	overflow-y: auto;

	width: 100%;
	height: 100%;
	padding: 20px 10px;

	background-color: #f5f6f8;
}

.close {
	position: fixed;
	top: 22px;
	right: 15px;
}

@media (max-width: 765px) {
	.header {
		display: grid;
		grid-template-columns: 1fr 40px;
		gap: 10px;

		margin: 15px 15px 0;
	}
}
