.sortIcon {
	display: none;
}

.active {
	color: var(--primary);

	font-weight: bold;
}

.active .sortIcon {
	display: inline-block;

	margin-right: 8px;
}

.sort {
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;
}

.sort span {
	cursor: pointer;
	white-space: nowrap;
}

.sort span:hover {
	color: var(--primary);
}
