:root {
	--black: #3b434e;
	--gray-light: #ebebeb;
	--gray: #a4a4a4;
	--gray-dark: #6c7077;
	--white: white;
	--primary: #7351f5;
	--primary-hover: #6344df;
	--red-light: #fea291;
	--red: #fc836d;
	--green: #007b48;
	--green-light: #c8f8e4;
	--font-family: 'PT Sans', sans-serif;
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;

	color: var(--black);

	background-color: #f5f6f8;

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}
